[submodule "pkgs/zerotier-one"]
	path = pkgs/zerotier-one
	url = https://gitlab.archlinux.org/archlinux/packaging/packages/zerotier-one
[submodule "aur-pkgs/sunshine-bin"]
	path = aur-pkgs/sunshine-bin
	url = https://aur.archlinux.org/sunshine-bin
